/* SERVICIOS */

.articuloInicioServicios{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.servicioImpresión3d{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;

    .textoServicioImpresión3d{
        text-align: center;
    }

    .imagenServicioImpresión3d{
        width: 100%;
        justify-content: center;
        align-items: center;
        /* border-radius: 10px; */
    }
}


.servicioDiseño3d{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;

    .textoServicioDiseño3d{
        text-align: center;

        p span{
            font-weight: 600;
        }
    }
    
    .imagenServicioDiseño3d{
        width: 100%;
        justify-content: center;
        align-items: center;
        /* border-radius: 10px; */
    }
}

.archivosFormatos{
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;

    .contenedorImagen{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedorTexto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


@media only screen and (min-width:320px){
    .servicioDiseño3d{
        flex-direction: row-reverse;
    } 
}